.containerCoupon {
  background-color: #3c3c3c;
  border-radius: 10px;
  padding: 20px;
}

.upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.upper h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 0 70px 10px 0;
}

.upper h3 {
  font-size: 16px;
  margin: 0 70px 10px 0;
  color: #ccc;
}

.lower h3 {
  align-items: start;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
